.sort_posts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  button {
    background: #00b7ff;
    background: linear-gradient(to right, #00b7ff 0%, #ff72ea 100%);
    padding: 15px 25px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  select {
    padding: 15px 25px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    option {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
.heading {
  text-align: center;
  color: white;
  font-size: 3rem;
}
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1500px;
  margin: 50px auto;
  div {
    width: 350px;
    height: 350px;
    background-color: #272727;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    h3 {
      color: white;
    }
    p {
      color: rgb(190, 190, 190);
    }
    a {
      background: #00b7ff;
      background: linear-gradient(to right, #00b7ff 0%, #ff72ea 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;
    }
    main {
      span {
        background-color: white;
        color: black;
        padding: 5px 10px;
        border-radius: 50px;
      }
    }
  }
}

.alert_dialog_component {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 600px;
  background-color: #272727;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0 !important;
  border-radius: 5px;
  padding: 10px;
  &::backdrop {
    backdrop-filter: blur(10px);
  }
  .alert_dialog_content {
    label {
      position: absolute;
      color: white;
      top: 328px;
      left: 20px;
      font-size: 0.9rem;
    }
    .diff {
      top: 395px;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      border: 0;
      background-color: white;
    }
    textarea {
      resize: none;
      height: 120px;
      border-radius: 5px;
    }
    .post_idea_buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        text-align: center;
        padding: 10px;
        width: 30%;
        background-color: white;
        border-radius: 50px;
        border: 0;
        cursor: pointer;
      }
    }
    select {
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      border: 0;
      background-color: white;
    }
    h3 {
      color: white;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
    }
    .post_idea {
      background: #00b7ff;
      background: linear-gradient(to right, #00b7ff 0%, #ff72ea 100%);
      padding: 15px 25px;
      border-radius: 50px;
      border: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;
    }
  }
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media (max-width: 600px) {
  .sort_posts {
    flex-direction: column;
    button,
    select {
      width: 100%;
    }
  }
}
